<% include partials/header %>
<h1>Add Customer</h1>
<ul>
    <% if(errors) { %>
    <% errors.forEach(function(error){ %>
    <li>
        <%=error.msg%>
    </li>
    <% }) %>
    <% } %>
</ul>
<form method="POST" action="/users/add">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name">
    <br>
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name">
    <br>
    <label for="email">Email</label>
    <input type="text" name="email">
    <br>
    <input type="submit" value="Submit">
</form>
<h1>
    <%=title%>
</h1>
<ul>
    <% stadiums.forEach(function(stadium){ %>
    <li>

        <%=stadium.name%>

        <a class="delete" href="#" data-id="">delete</a>

        <ul>
            <% stadium.vendors.forEach(function(vendor){ %>
            <li>
                <!-- names of vendors -->
                <%=vendor.name%>
                <ul>
                    <% vendor.foodItems.forEach(function(foodItem){ %>
                    <li>
                        <!-- food items for each vendor -->
                        <%=foodItem.name%>
                    </li>
                    <li>
                        <!-- price of food item -->
                        <%=foodItem.price%>
                    </li>
                    <li>
                        <!-- number of food item -->
                        <%=foodItem.amount%>
                    </li>

                    <% }) %>
                </ul>

            </li>
            <li>
                <ul>
                    <% vendor.orders.forEach(function(order){ %>
                    <li>
                        <%=order.customer[0].firstName%>
                    </li>
                    <li>
                        <%=order.customer[0].lastName%>
                    </li>
                    <li>
                        <%=order.customer[0].phoneNumber%>
                    </li>
                    <% }) %>

                </ul>
            </li>
            <% }) %>

        </ul>

    </li>
    <% }) %>
</ul>
<% include partials/footer %>